body,
html,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f8f8;
}

ul,
li {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

header {
    width: 1200px;
    height: 130px;
    margin: 0 auto;
}

header>a {
    height: 130px;
    display: block;
    float: left;
    box-sizing: border-box;
    padding-top: 25px;
}

header .header-right {
    float: right;
    width: 126px;
    height: 130px;
    font-size: 14px;
    line-height: 130px;
    color: #8c8c8c;
}

.header-right a {
    color: #f42424;
}

.footerlayout {
    width: 1200px;
    margin: 20px auto 0;
    font-size: 12px;
}

.footerlayout p {
    text-align: center;
    line-height: 30PX;
    color: rgba(85, 85, 85, .5);
}

.footerlayout p a {
    text-align: center;
    color: rgba(85, 85, 85, .5);
}

.footerlayout p a:hover {
    color: #f42424;
}

.mainlayout {
    width: 1200px;
    height: 615px;
    margin: 0 auto;
    background-color: #fff;
}

.mainleft {
    display: table-cell;
    width: 600px;
    height: 565px;
    vertical-align: middle;
    float: left;
}

.mainleft img {
    margin-top: 50px;
    margin-left: 30px;
}

.mainright {
    width: 600px;
    float: left;
    padding-top: 38px;
    height: 100%;
}

.mainright .item {
    display: block;
    line-height: 25px;
    width: 100%;
    margin: 20px auto;
    overflow: hidden;
}

.item .item-label {
    float: left;
    width: 136px;
    font-size: 16px;
    color: #8c8c8c;
    line-height: 40px;
    padding-right: 24px;
    text-align: right;
}

.item .item-info {
    float: left;
    width: 340px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #d2d2d2;
}

.item .text {
    padding: 0 10px;
    width: 320px;
    border: 0;
    height: 28px;
}

.item .btn {
    width: 342px;
    height: 50px;
    line-height: 50px;
    background-color: #f00;
    color: #fff;
    border: 0;
    font-weight: bolder;
}